<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ECharts" />
    <title>专户规模</title>
    <script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.min.js"></script>
  </head>
  <body>
    <div id="chart" style="width: 520px;height:220px;"></div>
    <script type="text/javascript">
      var myChart = echarts.init(document.getElementById("chart"));
      //初始化数据
      var category = ["母公司", "子公司"];
      var barData = [666, 1747];
      //配置项
      var option = {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "shadow",
          },
        },
        grid: {
          left: "3%",
          right: "4%",
          top: 10,
          containLabel: true,
        },
        xAxis: {
          type: "value",
          axisLine: {
            //x轴 轴线
            show: false,
          },
          axisLabel: {
            show: true,
            textStyle: {
              color: "yellow",
              fontSize: "16",
            },
          },
          axisTick: {
            show: false,
          },
        },
        yAxis: {
          type: "category",
          data: category,
          splitLine: { show: false },
          axisLine: {
            show: false,
          },
          axisTick: {
            show: false,
          },
          offset: 10, //文字离y轴的距离
          name: "1111",
          nameTextStyle: {
            //坐标轴文字样式
            fontSize: "20",
          },
        },
        series: [
          {
            name: "规模", //tooltip展示
            type: "bar",
            data: barData,
            // barWidth: 30,
            barGap:'80%',/*多个并排柱子设置柱子之间的间距*/
            // barCategoryGap:'50%',/*多个并排柱子设置柱子之间的间距*/
            smooth: true,
            label: {
              normal: {
                show: true,
                position: "top",
                offset: [5, -2],
                textStyle: {
                  color: "#F68300",
                  fontSize: 13,
                },
              },
            },
            itemStyle: {
              emphasis: {
                // barBorderRadius: 7,
              },
              normal: {
                // barBorderRadius: 7,
                color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [
                  { offset: 0, color: "#3977E6" },
                  { offset: 1, color: "#37BBF8" },
                ]),
              },
            },
          },
        ],
      };
      myChart.setOption(option);
    </script>
  </body>
</html>
